@import "tailwindcss";

:root {
  --background: #fbfbf1;
  --foreground: #4a2e18;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5 {
  font-family: var(--font-heading), serif;
}